{% extends 'medical_center/base.html' %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <div class="card-title">
                        {% if object.pk %}
                        <h2>Редактирование категории</h2>
                        {% else %}
                        <h2>Добавление категории</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <form>
                        <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                        <span style="margin-left: 10px;"></span>
                        <input type="button" class="btn btn-primary" value="Назад"
                               onclick="history.back()">
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}