{% load static %}
{% load my_tags_users %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true"
                     viewBox="0 0 24 24">
                    <img src="{% static 'HealthClinicLogo.png' %}" width="150" height="150" alt="Logo"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
            </a>
            <div class="container">
            <div class="col-sm-8 col-md-7 py-4 d-flex">
            {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                {% if user.avatar %}
                    <img class="card-img-top rounded-circle"
                         src="{{ user.avatar.url }}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="User Avatar">
                {% endif %}
                <div style="margin-left: 15px;">
                    {% if user.first_name %}
                        <h4 class="text-primary mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                    {% else %}
                        <h4 class="text-primary mb-0">{{ user.email }}</h4>
                    {% endif %}
                </div>
            </div>
                {% endif %}
            </div>
            </div>
            <ul class="nav nav-pills">
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'medical_center:home' %}"><u>Главная</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'medical_center:category_list' %}"><u>Категории</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'medical_center:service_list' %}"><u>Услуги</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'medical_center:contacts' %}"><u>Контакты</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'blog:blog_list' %}"><u>Новости</u></a>
                {% if user.is_authenticated %}
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'users:profile' %}"><u>Профиль</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'medical_center:service_cart' %}"><u>Корзина</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'users:logout' %}"><u>Выход</u></a>
                {% else %}
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'users:login' %}"><u>Вход</u></a>
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="{% url 'users:register' %}"><u>Регистрация</u></a>
                {% endif %}
                {% if user.is_superuser or user.is_staff %}
                <a class="nav-link d-flex align-items-center text-primary mx-2"
                   href="/admin/"><u>Администрация</u></a>
                {% endif %}
            </ul>
        </header>
    </div>
